DATABASE_URL="postgresql://postgres:postgres@db:5432/eshishayong?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="eshishayong"
